.notification-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
}

.notification-container.show {
  display: block;
}

.notification-content {
  display: flex;
  align-items: center;
}

.notification-message {
  flex-grow: 1;
}

.notification-cancel {
  cursor: pointer;
}
