/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .ml-auto,
    .mx-auto {
        margin: 0 auto;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 18px;
    }
    .quote_btn {
        width: 140px;
    }
    .quote_btn a {
        font-size: 18px;
    }
    .banner_taital_main {
        width: 70%;
    }
    .about_text {
        padding-top: 40px;
    }
    .services_text {
        font-size: 14px;
    }
    .velit_text {
        padding-top: 0px;
    }
    .contact_text {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        margin-top: 0px;
    }
    .navbar-toggler {
        background-color: #fff;
    }
    .header_section {
        background-size: cover;
    }
    .banner_taital_main {
        width: 80%;
    }
    .banner_taital {
        font-size: 50px;
    }
    #my_slider a.carousel-control-next {
        right: 0px;
        top: 375px;
        left: 0px;
    }
    #my_slider a.carousel-control-prev {
        left: 0px;
        top: 430px;
        right: 0px;
    }
    .banner_section {
        padding: 90px 0px 147px 0px;
    }
    .about_text {
        font-size: 14px;
        padding-top: 0px;
    }
    .read_bt_1 {
        margin-top: 14px;
    }
    .services_text {
        font-size: 12px;
    }
    .velit_text {
        font-size: 20px;
        padding-top: 0px;
    }
    .blog_text {
        font-size: 12px;
    }
    .testimonial_box {
        width: 90%;
        padding: 0px 50px 10px 0px;
    }
    .customer_img {
        left: -30px;
    }
    .contact_taital_main {
        padding-top: 150px;
        padding-left: 0;
    }
    .contact_text {
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header_top_section {
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        margin-top: 0px;
    }
    .navbar-toggler {
        background-color: #fff;
    }
    .header_section {
        background-size: cover;
    }
    .logo {
        width: auto;
    }
    .banner_section {
        padding: 90px 0px 147px 0px;
    }
    .banner_taital_main {
        width: 100%;
    }
    .banner_taital {
        font-size: 50px;
    }
    #my_slider a.carousel-control-next {
        right: 0px;
        top: 375px;
        left: 0px;
    }
    #my_slider a.carousel-control-prev {
        left: 0px;
        top: 430px;
        right: 0px;
    }
    .started_text {
        margin: 0px 5px;
        margin-top: 30px;
    }
    .about_section .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .about_section_2 {
        padding-top: 0px;
    }
    .about_text {
        padding-top: 0px;
        font-size: 15px;
    }
    .about_img {
        margin-top: 30px;
    }
    .services_text {
        font-size: 14px;
    }
    .blog_section .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .velit_text {
        padding-top: 0px;
    }
    .padding_90 {
        padding-top: 40px;
    }
    .blog_text {
        font-size: 14px;
    }
    .blog_img img {
        width: 100%;
        margin-top: 30px;
    }
    .testimonial_box {
        width: 100%;
        padding: 0px 20px 40px 20px;
    }
    .customer_left {
        width: 100%;
    }
    .customer_right {
        width: 100%;
    }
    .customer_img {
        width: 100%;
        left: 0;
    }
    .enim_text {
        font-size: 15px;
    }
    .contact_taital_main {
        padding-top: 30px;
        padding-left: 10px;
    }
    .contact_left {
        width: 100%;
    }
    .contact_middle {
        width: 100%;
    }
    .contact_right {
        width: 100%;
    }
    .contact_main {
        display: block;
        padding-top: 10px;
    }
}

@media (max-width: 575px) {
    .header_top_section {
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        margin-top: 0px;
    }
    .navbar-toggler {
        background-color: #fff;
    }
    .header_section {
        background-size: cover;
    }
    .logo {
        width: auto;
    }
    .banner_section {
        padding: 90px 0px 166px 0px;
    }
    .banner_taital_main {
        width: 100%;
    }
    .banner_taital {
        font-size: 28px;
        line-height: 35px;
    }
    .started_text {
        margin: 0px 5px;
        margin-top: 30px;
    }
    .about_section .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .about_section_2 {
        padding-top: 0px;
    }
    .about_text {
        padding-top: 0px;
        font-size: 15px;
    }
    .about_img {
        margin-top: 30px;
    }
    .services_text {
        font-size: 14px;
    }
    .blog_section .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .velit_text {
        padding-top: 0px;
    }
    .padding_90 {
        padding-top: 40px;
    }
    .blog_text {
        font-size: 14px;
    }
    .blog_img img {
        width: 100%;
        margin-top: 30px;
    }
    .testimonial_box {
        width: 100%;
        padding: 0px 20px 40px 20px;
    }
    .customer_left {
        width: 100%;
    }
    .customer_right {
        width: 100%;
    }
    .customer_img {
        width: 100%;
        left: 0;
    }
    .enim_text {
        font-size: 15px;
    }
    .contact_taital_main {
        padding-top: 30px;
        padding-left: 10px;
    }
    .contact_left {
        width: 100%;
    }
    .contact_middle {
        width: 100%;
    }
    .contact_right {
        width: 100%;
    }
    .contact_main {
        display: block;
        padding-top: 10px;
    }
}