.notification-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
}

.notification-container.show {
  display: block;
}

.notification-content {
  display: flex;
  align-items: center;
}

.notification-message {
  flex-grow: 1;
}

.notification-cancel {
  cursor: pointer;
}
/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@font-face {
  font-family: "Righteous";
  src: url("../fonts/BalooChettan-Regular.ttf");
  src: url("../fonts/BalooChettan-Regular.ttf");
}

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 20px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

.paddind_bottom_0 {
  padding-bottom: 0 !important;
}

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

.form-control:focus {
  border-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.navbar-form input {
  border: none !important;
}

.badge {
  font-weight: 500;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.full {
  float: left;
  width: 100%;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 0px;
}

.padding_0 {
  padding: 0px;
}

/* header top section start */

.header_top_section {
  width: 100%;
  display: flex;
  background-color: #07092f;
  height: auto;
  padding: 20px 0px;
}

.header_top_main {
  display: flex;
}

.call_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.call_text a {
  color: #ffffff;
}

.call_text a:hover {
  color: #16d22c;
}

.call_text_1 {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  text-align: right;
  font-family: "Roboto", sans-serif;
}

.call_text_1 a {
  color: #ffffff;
}

.call_text_1 a:hover {
  color: #16d22c;
}

.call_text_2 {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  text-align: right;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.call_text_2 a {
  color: #ffffff;
}

.call_text_2 a:hover {
  color: #16d22c;
}

.padding_left_15 {
  padding-left: 10px;
}

/* header top section end */

/* header section start */

.header_section {
  width: 100%;
  float: left;
  background-image: url(../images/banner-bg.png);
  height: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header_bg {
  background: #1f1f1f;
}

.bg-light {
  background-color: transparent !important;
}

.logo {
  width: auto;
}

.ml-auto,
.mx-auto {
  margin: 0 auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;
  color: #343434;
  font-family: "Roboto", sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #16d22c;
}

.navbar {
  padding: 20px 0px 20px 0px;
}

.quote_btn {
  width: 170px;
  float: left;
}

.quote_btn a {
  width: 100%;
  float: left;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background-color: #16d22c;
  padding: 8px;
  font-family: "Roboto", sans-serif;
}

.quote_btn a:hover {
  background-color: #ffffff;
  color: #252525;
}

/* header section end */

/* banner section start */

.banner_section {
  width: 100%;
  float: left;
  padding: 90px 0px 120px 0px;
}

.banner_taital_main {
  width: 60%;
  float: left;
}

.banner_taital {
  width: 100%;
  float: left;
  font-size: 60px;
  color: #403f3f;
  font-weight: bold;
  padding-bottom: 0px;
  line-height: 70px;
  font-family: "Poppins", sans-serif;
}

.banner_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #3c3c3c;
  margin-left: 0px;
  font-family: "Poppins", sans-serif;
}

.btn_main {
  width: 100%;
  display: flex;
}

.started_text {
  width: 180px;
  margin-right: 20px;
  margin-top: 30px;
}

.started_text a {
  width: 100%;
  float: left;
  padding: 14px 10px;
  color: #fdfdfd;
  background-color: #16d22c;
  text-align: center;
  font-size: 16px;
}

.started_text a:hover {
  color: #fdfdfd;
  background-color: #252525;
}

.started_text.active a {
  color: #fdfdfd;
  background-color: #252525;
}

#my_slider a.carousel-control-prev {
  left: 0px;
  top: 379px;
  right: 0px;
}

#my_slider a.carousel-control-next {
  right: 0px;
  top: 324px;
  left: 0px;
  color: #ffffff;
  background-color: #f8c30b;
}

#my_slider .carousel-control-next,
#my_slider .carousel-control-prev {
  width: 55px;
  height: 55px;
  background: #15cf2c;
  opacity: 1;
  font-size: 20px;
  color: #fefefd;
}

#my_slider .carousel-control-next:focus,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-prev:hover {
  color: #ffffff;
  background-color: #f8c30b;
}

/* banner section end */

/* about section start */

.about_section {
  width: 100%;
  float: left;
  padding: 90px 0px 0px 0px;
}

.about_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #373636;
  font-weight: bold;
  text-align: center;
}

.about_section_2 {
  width: 100%;
  float: left;
  padding-top: 40px;
}

.about_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #333232;
  margin: 0px;
  padding-top: 100px;
}

.about_img {
  width: 100%;
  float: left;
  background-image: url(../images/about-img.png);
  height: auto;
  background-size: cover;
  padding: 0px 0px 0px 0px;
}

.read_bt_1 {
  width: 160px;
  float: left;
  margin-top: 30px;
}

.read_bt_1 a {
  width: 100%;
  float: left;
  font-size: 16px;
  text-align: center;
  background-color: #16d22c;
  color: #ffffff;
  padding: 12px 0px;
}

.read_bt_1 a:hover {
  background-color: #252525;
  color: #ffffff;
}

/* about section end */

/* services section start */

.services_section {
  width: 100%;
  float: left;
}

.services_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #373636;
  font-weight: bold;
  text-align: center;
}

.services_section_2 {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

.box_main {
  width: 100%;
  background-color: #343333;
  height: auto;
  padding: 40px 18px 100px 18px;
  margin-top: 30px;
}

.service_img {
  width: 100%;
  text-align: center;
}

.hotel_text {
  width: 100%;
  font-size: 24px;
  color: #ffffff;
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.services_text {
  width: 100%;
  font-size: 15px;
  margin: 0px;
  color: #ffffff;
  padding-top: 20px;
  text-align: center;
}

.readmore_bt {
  width: 180px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -30px;
}

.readmore_bt a {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-color: #15cf2c;
  padding: 12px 20px;
}

.readmore_bt a:hover {
  color: #252525;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px 0px;
}

/* services section end */

/* blog section start */

.blog_section {
  width: 100%;
  float: left;
}

.blog_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #373636;
  font-weight: bold;
}

.blog_section_2 {
  width: 100%;
  float: left;
  padding-top: 30px;
}

.padding_90 {
  padding-top: 70px;
}

.blog_img {
  width: 100%;
  float: left;
}

.velit_text {
  width: 100%;
  float: left;
  font-size: 26px;
  color: #303030;
  padding-top: 55px;
}

.blog_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #303030;
  margin: 0px;
}

/* blog section end */

/* testimonial section start */

.testimonial_section {
  width: 100%;
  float: left;
  padding-bottom: 150px;
}

.testimonial_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #303030;
  text-align: center;
  font-weight: bold;
}

.testimonial_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #303030;
  text-align: center;
  margin: 0px;
}

.testimonial_section_2 {
  width: 100%;
  float: left;
  padding-top: 80px;
}

.customer_main {
  width: 100%;
}

.testimonial_box {
  width: 80%;
  margin: 0 auto;
  background-color: #292929;
  padding: 0px 50px 40px 0px;
  margin-bottom: 10px;
  display: flex;
}

.customer_left {
  width: 20%;
  float: left;
}

.customer_img {
  width: 100%;
  position: relative;
  left: -70px;
}

.customer_right {
  width: 80%;
  float: left;
  margin-top: 30px;
}

.customer_name {
  width: 100%;
  float: left;
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
}

.quick_icon {
  width: 100%;
  float: left;
  text-align: right;
}

span.padding_right0 {
  padding-right: 20px;
}

.enim_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  margin: 0px;
}

.carousel-indicators li {
  width: 40px;
  height: 15px;
  background-color: #15cf2c;
  border-radius: 40px;
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators .active {
  background-color: #183661;
}

/* testimonial section end */

/* contact section start */

.contact_section {
  width: 100%;
  float: left;
  background-color: #efefef;
  height: auto;
  padding: 30px 0px 60px 0px;
}

.contact_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #333333;
  padding: 0px;
  font-weight: bold;
}

.contact_section_2 {
  width: 100%;
  float: left;
  padding-top: 20px;
}

.mail_section_1 {
  width: 100%;
  float: left;
  padding-top: 30px;
}

.mail_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #c5c8c7;
  border: 0px;
  background-color: #ffffff;
  padding: 10px 15px;
  margin-bottom: 40px;
}

input.mail_text::placeholder {
  color: #c5c8c7;
}

.massage-bt {
  color: #c5c8c7;
  width: 100%;
  height: 110px;
  font-size: 18px;
  background-color: #ffffff;
  padding: 40px 15px 0px 15px;
  border: 0px;
}

textarea#comment.massage-bt::placeholder {
  color: #c5c8c7;
}

.send_bt {
  width: 170px;
  float: left;
}

.send_bt a {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-color: #15cf2c;
  padding: 12px;
  text-transform: uppercase;
  margin-top: 30px;
  display: block;
  font-weight: bold;
}

.send_bt a:hover {
  color: #c5c8c7;
  background-color: #ffffff;
}

.contact_img {
  width: 100%;
  float: left;
}

.contact_taital_main {
  width: 100%;
  float: left;
  padding-top: 150px;
  padding-left: 40px;
}

.contact_taital_1 {
  width: 100%;
  float: left;
  font-size: 26px;
  color: #333333;
}

.contact_main {
  width: 100%;
  display: flex;
  padding-top: 10px;
}

.contact_left {
  width: 33%;
  float: left;
}

.contact_middle {
  width: 33%;
  float: left;
}

.contact_right {
  width: 33%;
  float: left;
}

.map_icon {
  width: 100%;
  float: left;
  padding-bottom: 10px;
}

.contact_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #3d3d3d;
}

.contact_text a {
  color: #3d3d3d;
}

.contact_text a:hover {
  color: #ffffff;
}

.social_icon {
  width: 100%;
  margin-top: 40px;
}

.social_icon ul {
  margin: 0px;
  padding: 0px;
}

.social_icon li {
  float: left;
}

.social_icon li a {
  float: left;
  padding: 5px 15px;
  background-color: #15cf2c;
  color: #ffffff;
  border-radius: 100%;
  font-size: 22px;
  margin-right: 5px;
  width: 50px;
  text-align: center;
  margin-top: 10px;
}

.social_icon li a:hover {
  background-color: #ffffff;
  color: #353535;
}

/* contact section end */

/* copyright section start */

.copyright_section {
  width: 100%;
  float: left;
  background-color: #252525;
  height: auto;
}

.copyright_text {
  width: 100%;
  float: left;
  font-size: 16px;
  margin: 15px 0px;
  color: #ffffff;
  text-align: center;
}

.copyright_text a {
  color: #ffffff;
}

.copyright_text a:hover {
  color: #15cf2c;
}

/* copyright section end */

.margin_top90 {
  margin-top: 90px;
}
